@charset "UTF-8";

body{
	vertical-align:baseline;
	border:0;
	outline:0;
	padding:0;
	margin:0;
}

img {
	position: absolute;
    box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

.full{
	position: absolute;
	width: 100%;
	height: 100%;
}

#main_content {
	position:absolute;
	width:300px;
	height:250px;
	top:0;
	left:0;
	opacity:0;
	background-color:#ffffff;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#border {
  position: absolute;
  width:100%;
  height:100%;
  bottom: 0px;
  left: 0px;
  border: 1px solid #000000;
  pointer-events: none;
  z-index:52;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}


.intro_img1{
	position: absolute;
	height: 28px;
	top: 0px;
	left: 0px;
}
.intro_img2{
	position: absolute;
	height: 29px;
	top: 28px;
	right: 0px;
}
.intro_img3{
	position: absolute;
	height: 28px;
	top: 57px;
	left: 0px;
}
.intro_img4{
	position: absolute;
	height: 28px;
	top: 85px;
	right: 0px;
}
.intro_img5{
	position: absolute;
	height: 29px;
	top: 113px;
	left: 0px;
}
.intro_img6{
	position: absolute;
	height: 28px;
	top: 142px;
	right: 0px;
}
.intro_img7{
	position: absolute;
	height: 28px;
	top: 170px;
	left: 0px;
}
.intro_img8{
	position: absolute;
	height: 28.5px;
	top: 198px;
	right: 0px;
}
.intro_img9{
	position: absolute;
	height: 23.5px;
	top: 226.5px;
	left: 0px;
}


#frame2_text_1, .f2_txt_stag, #frame2_logo, #frame2_cta, #frame3_logo, #frame3_cta, #frame3_text_1, #frame3_text_2, #frame4_text_1, #frame4_text_2, #frame5_img, #frame5_text1, #frame5_text2{
	position: absolute;
	width: 300px;
	height: 250px;
	top: 0; left: 0;
}
#frame5_image_holder1{
	position: absolute;
	width: 135.5px;
	height: 0px;
    bottom: 72px;
    left: 83px;
    overflow: hidden;
}
#frame5_img_holder1{
	position: absolute;
	width: 135.5px;
	height: 119.5px;
}
#cta{
	position: absolute;
	width: 167.5px;
  left: 85px;
  top: 364px;
}
#girl_drop_shadow{
	mix-blend-mode: multiply;
	position: absolute;
	width: 300px; heigh
}

/* ================================================
===================================================*/
#bg{
	background-color: #221649;
}
#bg,#bg2{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	left:0;
	top:0;
}


#bg_click {
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:#fff;
	opacity:0;
	z-index:50;
	cursor:pointer;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}